<html lang="ja">
<head>
<meta charset="UTF-8">

<title>PHOTO contribution flow Editor (Source Id of LINE Messaging API --> Album Id of Google Web Album mapping) </title>

<style type="text/css">
table {
	border-collapse:separate;
	border-spacing:3px;
	padding:0;
	margin:10;
}
th , td {
	font-size: small;
	padding:8px 10px 8px 10px;
	background-color:#ffffff;
	border-radius:6px;
	box-shadow: 8px 8px 24px rgba(75,40,75,0.50);

}
.f_button {
	border: 1px solid #ababab;
	box-shadow: 8px 8px 24px rgba(75,40,75,0.50);
	border-radius:12px;
}
.comment {
	font-size: small;
	color: #894d88;
}
div.frame {
	width:670px;
	margin:auto;
}
div.head-menu {
	height:130;
	background-color:#cceec0;
	border: 2px solid #9b9b9b;
	padding: 0px 20px 0px 20px;
	position: relative;
}
div.main-title {
	margin-left: 30px;
	width: 350px;
}
div.main-page {
	background-color:#eef2ee;
	margin-top: 3px;
	padding-top: 5;
	padding-left: 15;
	padding-right: 15;
	border: 2px solid #9b9b9b;
}
.with_id {
}
.popup_text {
	display: none;
	background-color:#3efe3e;
	position: absolute;
	padding: 0px 10px;
}
.with_id:hover + .popup_text {
    display: block;
}
.type_10 {
	color: #4070b0;
	background-color:#c2e0b8;
#	border-right: solid 2px #c0c0c0;
#	border-bottom: solid 2px #c0c0c0;
#	border-top: solid 3px #ffffff;
#	border-left: solid 3px #ffffff;
}
.type_20 {
	color: #b04070;
	background-color:#c2e0b8;
#	border-right: solid 2px #b0b0b0;
#	border-bottom: solid 2px #b0b0b0;
#	border-top: solid 3px #ffffff;
#	border-left: solid 3px #ffffff;
}
.type_1 {
	color: #4070b0;
	background-color: #ddeed0;
#	border-right: solid 2px #c0c0c0;
#	border-bottom: solid 2px #c0c0c0;
#	border-top: solid 3px #ffffff;
#	border-left: solid 3px #ffffff;
}
.type_2 {
	color: #b04070;
	background-color: #ddeed0;
#	border-right: solid 2px #b0b0b0;
#	border-bottom: solid 2px #b0b0b0;
#	border-top: solid 3px #ffffff;
#	border-left: solid 3px #ffffff;
}
.type_00 {
	color: #a0a0a0;
	background-color:#e0e0e0;
#	border-right: solid 2px #c0c0c0;
#	border-bottom: solid 2px #c0c0c0;
#	border-top: solid 3px #ffffff;
#	border-left: solid 3px #ffffff;
}


</style>

<script type = "text/javascript">

    function selectLine(_selected_line) {
		document.route_list.elements.action.disabled = "";
    };

    function change_owner( owner_id ) {
		document.album_owners.elements.action[1].disabled = "";
		document.album_owners.elements.action[2].disabled = "";
    };

    function change_route_info(obj) {
		document.route_info.action[0].disabled = "";
	}

    function change_album_list(obj) {

		var album_list = document.getElementById('select_album_id');
		var num = album_list.options.length;
		for (i = 0 ; i < num; i++) {
			album_list.removeChild(album_list.options[0]);	// clear current select items
		}

		var idx = obj.selectedIndex;						// obj is selected option index
		var account = obj.options[idx].value;				// = google account

		var source = document.getElementById(account);		// album list of the 'account'
		num = source.options.length;
		album_list.options.length = num;

		for (i = 0; i < num; i++) {
			album_list.options[i].value = source.options[i].value;
			album_list.options[i].text = source.options[i].text;
		}

		if (num == 0) {
			album_list.disabled = "True";
		}
		else {
			album_list.disabled = "";
		}

    };

</script>

</head>

<body>
<div class="frame">
  <div class="head-menu">
    <div style="float: right; margin-top:20px;">
     <img src="images/pyonta-kasa.png" alt="pyonta-image" width=100/>
    </div>
    <div class="main-title">
      <h1>写真登録フローの設定</h1>
      <p style="position:absolute; bottom:0">by ぴょん太<span style="padding-left:40px;"><a href="https://jebaxxmessage.appspot.com/index53.html">メインページへ</a></span></p>
    </div>
  </div>

  <div class="main-page">
  <form name = "route_list" action="config" method="post">
  <h3>写真転送先の一覧</h3>
  <p>現在の友だち一覧です。<br>
  アカウントごとのアルバム設定状況が分かります。</p>
    <input type='hidden' name='route_list' value='route_list'>
    <table>
      <thead>
        <tr>
          <th style="background-color: #eef2ee" colspan='2'>ここに<small>が投稿した写真を</small></th>
          <th style="background-color: transparent; margin:1; padding:0"> </th>
          <th colspan="2" style="background-color: #eef2ee"><small>この</small>アルバム<small>に登録する</small></th>
        </tr>

        {% if mode.initial == '' %}
          <tr>
            <th colspan="2" width=180 class='type_10'>LINEアカウント</th>
            <th width=2 style="background-color: transparent; margin:1; padding:0"></th>
            <th width=160 class='type_20'>Googleアカウント</th>
            <th width=160 class='type_20'>アルバム名</th>
          </tr>
        {% else %}
          <tr>
            <th colspan="2" width=180 class='type_00'>LINEアカウント</th>
            <th width=2 style="background-color: transparent; margin:1; padding:0"></th>
            <th width=160 class='type_00'>Googleアカウント</th>
            <th width=160 class='type_00'>photoアルバム名</th>
          </tr>
        {% endif %}
      </thead>
      {% for Line_id, route_info in route_list.iteritems() %}
      {% set label = route_info['label'] %}
        {% if mode.initial == '' %}
          <tr>
            <td width=10 class='type_1'>
              <input type='radio' name='selected_route' value='{{ Line_id }}' id='{{ label }}' onclick="selectLine('{{ label }}')" {{mode.initial}}>
            </td>
            <td class="type_1">
              <label class='with_id' for='{{ label }}'>{{ route_info['name'] }}</label>
              <p class='popup_text'>id = {{ Line_id }}</p>
            </td>
            <td style="background-color: transparent; margin:1; padding:0"></th>
            <td class="type_2"><label for='{{ label }}'>{{ route_info.owner_id }}</label></td>
            <td class="type_2">
              <label class='with_id' for='{{ label }}'>{{ route_info.album_name }}</label>
              <p class='popup_text'>id = {{ route_info.album_id }}</p>
            </td>
          </tr>
        {% else %}
          <tr>
            <td width=10 class="type_00">
              <input type='radio' name='selected_route' value='{{ Line_id }}' id='{{ label }}' onclick="selectLine('{{ label }}')" {{mode.initial}}>
            </td>
            <td class="type_00">
              <label class='with_id' for='{{ label }}'>{{ route_info['name'] }}</label>
              <p class='popup_text'>id = {{ Line_id }}</p>
            </td>
            <td style="background-color: transparent; margin:1; padding:0"></th>
            <td class="type_00"><label for='{{ label }}'>{{ route_info.owner_id }}</label></td>
            <td class="type_00">
              <label class='with_id' for='{{ label }}'>{{ route_info.album_name }}</label>
              <p class='popup_text'>id = {{ route_info.album_id }}</p>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
    <p style="text-align:center;">
    <input class='f_button' type='submit' name='action' value='登録先を設定・変更' style='width:160px;' oncallback="_post_action='edit'" , disabled>
    </p>
  </form>
  <hr>
  <h3>写真登録先のアルバムを決める</h3>
  <p>登録済のGoogleアカウントからアルバムを選択することができます。</p>
  <form name = "route_info" action="config" onchange="change_route_info(this)" method="post">
    <input type='hidden' name='route_edit' value='route_edit'>
    {% if mode.route_edit == '' %}
      <input type='hidden' name='Line_id' value='{{ route_info.Line_id }}'>
    {% endif %}
    <table>
      {% if mode.route_edit == '' %}
        <tr>
          <td width=180 class='type_10'>LINEアカウント</td>
          <td width=320 class='type_1'>
            <input type=text name="Line_name" value="{{route_info.Line_name}}" size=30 {{ mode.route_edit }}>
          </td>
        </tr>
        <tr>
          <td class='type_20'>Googleアカウント</td>
          <td class='type_2'>
            <select name='owner_id' onchange="change_album_list(this)" {{ mode.route_edit }}>
              {% for owner_id, is_selected in route_info.owner_id.iteritems() %}
                <option value="{{ owner_id }}" {{ is_selected }} >{{ owner_id }}</option>
              {% endfor %}
            </select>
            <br><small>リストにない場合は先にGoogleアカウントを登録してから！!</small>
          </td>
        </tr>
        <tr>
          <td class='type_20'>アルバム名</td>
          <td class='type_2'>
            <select name='album_id' id='select_album_id' {{ mode.route_edit }}>
              {% for album_id, album_item in route_info.album_list.iteritems() %}
                <option value="{{ album_id }}" {{ album_item.selected }}>{{ album_item.name }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      {% else %}
        <tr>
          <td width=180 class='type_00'>LINEアカウント</td>
          <td width=320 class='type_00'>
            <input type=text name="Line_name" value="" size=30 {{ mode.route_edit }}>
          </td>
        </tr>
        <tr>
          <td class='type_00'>Googleアカウント</td>
          <td class='type_00'>
            <select name='owner_id' onchange="change_album_list(this)" {{ mode.route_edit }}>
            </select>
            <br><small>リストにない場合は先にGoogleアカウントを登録してから！!</small>
          </td>
        </tr>
        <tr>
          <td class='type_00'>アルバム名</td>
          <td class='type_00'>
            <select name='album_id' id='select_album_id' {{ mode.route_edit }}>
            </select>
          </td>
        </tr>

      {% endif %}
      </tr>
    </table>
    <p style="text-align:center;">
    <input class='f_button' type='submit' name='action' value='登録' style='width:75px;' , disabled>
    <input class='f_button' type='submit' name='action' value='キャンセル' style='width:105px;'  {{ mode.route_edit }}>
    </p>
  </form>
  <hr>
  <h3>Googleアカウントを登録する</h3>
  <p>ここにアカウントを登録するには、ユーザ認証が必要です。<br>
  新規登録ボタンを押すと、「Googleにログイン」画面に移動します。</p>
  <form name = "album_owners" action="config" method="post">
    <input type='hidden' name='album_owners' value='album_owners'>
    <table>
      <thead>
      {% if mode.initial == '' %}
        <tr>
          <th colspan='2' class='type_20' width=180>Googleアカウント</th>
          <th class='type_20' width=320>アルバムリスト<small>（ここはリストを見て確認するだけ）</small></th>
        </tr>
      {% else %}
        <tr>
          <th colspan='2' class='type_00' width=180>Googleアカウント</th>
          <th class='type_00' width=320>アルバムリスト<small>（ここはリストを見て確認するだけ）</small></th>
        </tr>
      {% endif %}
      </thead>
      {% for owner_id, album_list in owner_list.iteritems() %}
        {% if mode.initial == '' %}
          <tr>
            <td class="type_2">
              <input type='radio' name='owner_id' value='{{ owner_id }}' onclick="change_owner('{{ owner_id }}')" {{mode.initial}} >
            </td>
            <td class='type_2'>
              <label for='{{ owner_id }}'>{{ owner_id }}</label>
            </td>
            <td class='type_2'>
              <select name='album_id' id='{{ owner_id }}' {{ mode.initial }}>
                {% for album_id, album_name in album_list.iteritems() %}
                  <option value="{{ album_id }}">{{ album_name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
        {% else %}
          <tr>
            <td class='type_00'>
              <input type='radio' name='owner_id' value='{{ owner_id }}' onclick="change_owner('{{ owner_id }}')" {{mode.initial}} >
            </td>
            <td class='type_00'>
              <label for='{{ owner_id }}'>{{ owner_id }}</label>
            </td>
            <td class='type_00'>
              <select name='album_id' id='{{ owner_id }}' {{ mode.initial }}>
                {% for album_id, album_name in album_list.iteritems() %}
                  <option value="{{ album_id }}">{{ album_name }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>

        {% endif %}
      {% endfor %}
    </table>
    <p style="text-align:center;">
      <input class='f_button' type='submit' name='action' value='新規登録' style='width:95px;' {{mode.initial}} >
      <input class='f_button' type='submit' name='action' value='アルバム再取得' style='width:135px;' disabled>
      <input class='f_button' type='submit' name='action' value='削除' style='width:75px;' disabled>
    </p>
  </form>
  </div>
  <div class="main-page">
  <p>ここから下は実験設備！</p>
  <form name = "raw_album_list" action="config" method="post">
    <input type='hidden' name='raw_album_list' value='raw_album_list'>
    <select name='google_account'>
    {% for owner_id, album_list in owner_list.iteritems() %}
      <option value="{{ owner_id }}">{{ owner_id }}</option>
    {% endfor %}
    </select>
    <input type='checkbox' name='use_cred' value="true" checked="checked">use credential<br>
    <input type='submit' name='action' value='アルバム一覧(RAWデータ)' style='width:210;'>
    <hr>
    <textarea class='f_button' name="raw_text" cols="86" rows="40">
    {{ raw_text }}
    </textarea>
  </form>
  </div>
</div>
</body>
</html>

