<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=480">
</head>

<body>
    <h3>写真の登録</h3>
    <form name="upload_pict_form" action="/uploadEntryPoint" method="post" enctype="multipart/form-data">
        <table>
          <tr>
            <td>jpegファイル名</td><td><input size=120 type='file' id='pictFile' name='img_file'></td>
          </tr>
          <tr>
            <td></td><td><input type='submit' name='送信' value='upload'></td>
          </td>
        </table>
    </form>
</body>

</html>